<%= provide(:title,  t('titles.evaluations.index')) %>
<%= provide :breadcrumb do %>
    <li class="active"><%= t('shared.nav.evaluations') %></li>
<% end %>
<%= provide :sidebar do %>
  <%=  form_for @search do |f| %>
    <li class="nav-header"><%= f.label :teacher_id_equals %></li>
    <li><%= f.collection_select :teacher_id_equals, Teacher.order(:name).all,
                                :id, :name, include_blank: true %></li>
    <li class="nav-header"><%= f.label :student_id_equals %></li>
    <li><%= f.collection_select :student_id_equals, Student.order(:name).all,
     :id, :name_n_school_class, include_blank: true %></li>
    <hr/>
    <li class="nav-header"><%=t 'helpers.order'  %></li>
    <%= f.sort_link :id %> |
    <%= f.sort_link :title %>
    <hr/>
    <%= f.submit t('helpers.links.search'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.actions.clear'), evaluations_path, class: 'btn' %>
  <% end %>
<% end %>
<div class="page-header">
  <h2><%=  t('titles.evaluations.index') %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th><%= t_field('evaluation','title') %></th>
    <th><%= t_field('evaluation','teacher') %></th>
    <th><%= t_field('evaluation','student') %></th>
    <th><%= t_field('evaluation','evaluation_date') %></th>
    <th><%= t_field('evaluation','grade') %></th>
    <th><%=t 'helpers.actions.all' %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @evaluations %>
  </tbody>
</table>
<%= paginate @evaluations %>

